<header >

 </header>
<body>
 <a href= "http://localhost:8080/register"> Hey stranger - Register Here </a>
 <div>
 <a href= "http://localhost:8080/login"> It's been awhile - Login Over Here </a>
 </div>
    <% if(user) {%>
    <p>Current user is: <%= user.id %></p>
    <form method="POST" action="/logout">
    <button>Logout</button>
    </form>
    <% } %>

</body>