<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body class="container">

  <% include partials/_header.ejs %>

<main>


<div class="jumbotron">


<h1>Let's show some short urls</h1>

<ul>
    </ul>

<p>The new TinyApp</p>

 <form method="POST" action="/urls/<%= shortURL%>">
    <h2>Update your short URL</h2>
    <p>
      <label for="newlongURLinput">longURL</label>
      <input id="newlongURLinput" name="longURL">
      <button>Update!</button>
    </p>
  </form>
<p> <%= shortURL %> : <%= longURL %> </p>
</div>


</main>



<footer>

</footer>


</body>

</html>