<!DOCTYPE html>
<html lang="en">
<head>
</head>
<!--TODO - Update form so that it displays longURL to be edited
Double check where we are supposed to be redirected after creating new URL-->
<body class="container">

   <% include partials/_header %>

<main>


<div class="jumbotron">


<h1>hello, i am the tiniest app</h1>

<ul>
    </ul>

<p>The new TinyApp</p>

 <form method="POST" action="/urls/<%= oldURL%>">
    <h2>Update your short URL</h2> 
      <p> Your current long URL is <%= longURL %> </p>
      <p> Your current short URL is <%= oldURL %> </p>
      <p>
      <label for="newlongURLinput">longURL</label>
      <input id="newlongURLinput" name="longURL">
      <button>Update!</button>
    </p>
  </form>

<p> <% oldURL %> <% longURL %> </p>
<a href= "http://localhost:8080/urls"> Return to your Index</a>
</div>


</main>



<footer>

</footer>


</body>

</html>