<!DOCTYPE html>
<html lang="en">
<head>
</head>

<bodyclass="container">
<header>

</header>
<main>


<divclass="jumbotron">


<h1>Let's show some short urls</h1>

<ul>
    </ul>

<p>The new TinyApp</p>


</div>


</main>



<footer>

</footer>


</body>
    <l> <%= shortURL %> : <%= longURL %> </l>
        <% include partials/_header.ejs %>
</html>