<!DOCTYPE html>
<html lang="en">
<header >

 </header>
<body>
    <form method="POST" action="/login">
    <h2>Do I know you?</h2>
      <label>Email</label>
      <input type=email name="email">
      <div>
      <label>Password</label>
      <input type=password name="password">
      <button>Submit</button>
    </form>

</body>
