<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body class="container">
<header>

</header>
<main>
  <ul> <% Object.keys(urls).forEach((key) => { %>

      </p>
      <li>
      <%= key %> : <%= urls[key] %>
       <a href="http://localhost:8080/urls/<%= key%>"> Edit </a>
        <form action="/urls/<%= key%>/delete" method="POST">
        <button>Delete </button>
        </form>
      </li>
      <% }); %>
      <% include partials/_header.ejs %>
  </ul>
    <a href= "http://localhost:8080/urls/show"> Click me!</a>

<divclass="jumbotron">


<h1>This is great</h1>

<ul>
    </ul>

<p>The new TinyApp</p>


</div>


</main>


<footer>

</footer>


</body>




</html>
