<!DOCTYPE html>
<html lang="en">
<head>
</head>

<bodyclass="container">
<header>

</header>
<main>


<divclass="jumbotron">


<h1>This is great</h1>

<ul>
    </ul>

<p>The new TinyApp</p>


</div>


</main>



<footer>

</footer>

</body>
    <% Object.keys(urls).forEach((key) => { %>
    <li><%= key %> : <%= urls[key] %> </li>
    <% }); %>
    <% include partials/_header.ejs %>

    <href> https//:"deadlink" </href>

</html>
